html,body {
    background-color: #94BFBE;
   
}

header,
footer {
    color: #61304B;
	background-color: #FFC09F;
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 700px;
    margin: 0px auto;
}
header img{
  box-shadow: 0 0 30px #444;
  float: right;
  border-radius: 0 10px 0 0;
}
h1 {
    font-size:16px;
    line-height:1.5;
    font-family: "Trispace",sans-serif;
    color: #37423D;
    }
.subheading {
        font-size: 1.5rem;
        color: cornsilk;
        text-shadow: 2px 2px 5px blanchedalmond;
        }
h2 {
    color: #004643;
    font-family: "Trispace",sans-serif;
}

nav {
	background-color: #F03A47;
    text-align: center;
    color: #004643;
    max-width: 760px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
    color: #9D8189;
	display: block;
	text-align: center;
	padding: 0.70rem;
	text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Trispace', sans-serif;
}
nav a:hover {
    border: white dashed 4px;
}
.active {
	color: #69474e;
}
main {
    color: #EF476F;
    max-width: 700px;
    font-size: 18px;
    font-family: 'Trispace', sans-serif;
    padding: 1rem;
    background-color:white;
    box-sizing: border-box;
    text-align: center;
}

main a{
    text-decoration: none;
    color: #EF476F;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}

main ul {
    color: #EF476F;
    font-family: 'Trispace', sans-serif;
}

li {
    font-size: 16px;
    font-family: 'Trispace', sans-serif;
    text-align: left;
}
footer {
    padding: 0.8rem;
    font-family: 'Trispace', sans-serif;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #EF476F;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
  display: flex; 
  flex: 1 1 100%; 
font-size: 1.5rem;
  color:#153131;
}


.stats {
	background: radial-gradient white;
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
}

@media only screen and (min-width: 480px) {
	main {max-width:800px;
  margin:0 auto;}
h1 {
  text-align: center;
  font-size:2.5rem;
  text-shadow:3px 3px 5px #777;
  }

.herodiv {
  margin: 1px auto;
  position: relative;
  }
h1, h2, p {
  margin: 0;
  }

.stats {
	position: absolute;
	top: 200px;
	right: 650px;
	background: radial-gradient brown;
	border: 1px solid #000;
	padding: 2.5rem;
	box-shadow: 0 0 30px 22;
  opacity: .5;
  }
}

@media only screen and (min-width: 480px) {
	main {max-width:600px;
  margin:0 auto;}
h1 {
  text-align: center;
  font-size:1.5rem;
  text-shadow:3px 3px 5px #777;
  }

.herodiv {
  margin: 1px auto;
  position: relative;
  }
h1, h2, p {
  margin: 0;
  }

.stats {
	position: absolute;
	top: 200px;
	right: 650px;
	background: radial-gradient brown;
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px 22;
	opacity: .6;
}
}
@media only screen and (min-width: 480px) {
	main {max-width:480px;
  margin:0 auto;}
h1 {
  text-align: center;
  font-size:1.5rem;
  text-shadow:3px 3px 5px #777;
  }

.herodiv {
  margin: 1px auto;
  position: relative;
  }
h1, h2, p {
  margin: 0;
  }

.stats {
	position: absolute;
	top: 200px;
	right: 650px;
	background: radial-gradient brown;
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px 22;
	opacity: .6;
}
}